html
{
    --SIZE: 3;
    --HEIGHT: 60vh;
    --WIDTH: 90vw;
}

body
{
    margin: 0px;
    text-align: center;
    font-family: comic sans ms;
    background-color: #a9bfc86d;
}

h1
{
    color: #000000;
}

a
{
    color: #000000;
    text-decoration: none;
}

button, a
{
    background-color: #b2bde6;
    font-family: courier new;
    font-size: 12pt;
    font-weight: bold;
    border-style: outset;
    border-width: 5pt;
    border-color: #9facdd;
    padding: 1%;
    margin: 1%;
}

div#framer
{
    display: grid;
    grid-template-columns: 5fr 90fr 5fr;
    grid-template-rows: 1fr;
    height: var(--HEIGHT);
}

div.margin > img
{
    width: 5vw;
}

div#left_margin
{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

div#game_board
{
    grid-column: 2 / 3;
    grid-row: 1 / -1;

    display: grid;
    grid-template-rows: repeat(var(--SIZE), 1fr); 
    grid-template-columns: repeat(var(--SIZE), 1fr); 
    gap: 0;
    
    height: var(--HEIGHT);
    width: var(--WIDTH);
}

div#right_margin
{
    grid-column: -2 / -1;
    grid-row: 1 / -1;
}

div.block
{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    
    background-color: #ffffff;
    border: thin groove #a4a4a4; 

    height: calc(var(--HEIGHT) / var(--SIZE)); /* crucial for preventing the size of div from expanding when inserting image */
    width: 100%;
}


div.block > div
{
    grid-row: 1 / -1;
}


div.status
{
    grid-column: 1 / 2;
}

div.icon
{
    grid-column: 2 / 3;
}

div.result
{
    grid-column: 3 / 4;
}


img.status, img.icon, img.result
{
    width: 100%;
    height: calc(var(--HEIGHT) / var(--SIZE));
    object-fit: contain; /* object-fit ONLY works when width and height are specified first */
}


button#computer
{
    background-color: #e72222;
    border-color: #ed3b3b;
}